description = "Header"
==
<div class="nav-bar">

    <div id="nav_logo" class="module left">
        <a href="" class="logo-link">
            <img src="{{ 'assets/images/am2018/logo-garuda-indonesia.png'|theme }}" width="285" height="62" class="logo logo-dark">
        </a>
    </div>
    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
    </div>
    <div id="st_menu" class="module-group right">
        <div class="module left">
            <ul class="menu">
                <li>
                    <a href="">
                        Home
                    </a>
                </li>
                <li class="has-dropdown">
                    <a href="#">
                        About
                    </a>
                    <ul>
                        <li>
                            <a href="">2018 Annual Meetings</a>
                        </li>
                        <li>
                            <a href="">The Voyage to Indonesia</a>
                        </li>
                        <li>
                        </li>
                        <li>
                            <a href="">The International Monetary Fund</a>
                        </li>
                        <li>
                            <a href="">The World Bank Group</a>
                        </li>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">
                        Events
                    </a>
                    <ul>
                        <li>
                            <a href="">Main Events</a>
                        </li>
                        <li>
                            <a href="">Side Events</a>
                        </li>
                        <li>
                            <a href="">VTI Program</a>
                        </li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">
                        Travel Information
                    </a>
                    <ul>
                        <li>
                            <a href="">Indonesia
                                in Brief</a>
                        </li>
                        <li>
                            <a href="">Travel
                                Tips</a>
                        </li>
                        <li>
                            <a href="">Visa and Customs</a>
                        </li>
                         <li>
                             <a href="">Local Transportation</a>
                         </li>
                         <li>
                             <a href="">Other Facilities</a>
                         </li>
                          <li>
                             <a href="">Weather</a>
                         </li>
                         <li>
                             <a href="">Interactive Maps</a>
                         </li>
                         <li>
                             <a href="">Free Tourism Visa</a>
                         </li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">
                        Discover Indonesia
                    </a>
                    <ul>
                        <li>
                            <a href="">Wonderful
                                Indonesia</a>
                        </li>
                        <li>
                            <a href="">Bali</a>
                        </li>
                        <li>
                            <a href="">Tourism
                                Packages</a>
                        </li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="{{ 'news'|page }}">
                        Media and Publications
                    </a>
                    <ul>
                        <li>
                            <a href="{{ 'news'|page }}">News</a>
                        </li>
                        <li>
                            <a href="{{ 'press-releases'|page }}">Press Releases</a>
                        </li>
                        <li>
                            <a href="{{ 'publications'|page }}">Publications</a>
                        </li>
                        <li>
                            <a href="{{ 'gallery'|page }}">Photo Gallery</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
        <!--end of menu module-->
        <!--         <div class="module widget-handle language left">
            <ul class="menu">
                <li class="has-dropdown">
                    <a href="#">ENG</a>
                    <ul>
                        <li>
                            <a href="en">ENG</a>
                        </li>
                        <li>
                            <a href="id">IND</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div> -->
    </div>

</div>