description = "breadcrumb"
==
<section class="page-title page-title-4 bg-secondary navbar thin">
    <div class="container">
        <div class="row">
            <div class="col-md-6 lbl">
                <h3 class="uppercase mb0">
                    <i class="ti-menu-alt"></i>
                        test
                </h3>
            </div>
            <div class="col-md-6 text-right crumbs">
                <ol class="breadcrumb breadcrumb-2">

                    <li>
                        <a href="#">Home</a>
                    </li>

                </ol>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>