description = "Sidebar navigation"
==
<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-push-3 mb-xs-24 rhs-content">

        	{% placeholder layout_page %}

        </div>
        <!--end of nine col-->
        <div class="col-md-3 col-md-pull-9 hidden-sm sidebar lhs-content">
            <ul class="nav">
                {% placeholder layout_sidebar %}
            </ul>
        </div>
        <!--end of sidebar-->
    </div>
    <!--end of container row-->
</div>