description = "Sponsors Partial"
==
<section id="st_sponsors" class={{ custClass }}>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase title">Organizing Institutions</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="logo-carousel">
                
                <div class="flex-viewport">
                    <ul class="slides">
                        <li>
                            <a target="_blank" href="https://maritim.go.id/">
                                <img src="{{ 'assets/images/am2018/partners/logo-kemenkomar.png'|theme }}">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.kemenkeu.go.id/">
                                <img src="{{ 'assets/images/am2018/partners/logo-kemenkeu.png'|theme }}">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.bi.go.id/id/Default.aspx">
                                <img src="{{ 'assets/images/am2018/partners/logo-bi.png'|theme }}">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.imf.org/">
                                <img src="{{ 'assets/images/am2018/partners/logo-imf2.jpg'|theme }}">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.worldbank.org/">
                                <img src="{{ 'assets/images/am2018/partners/logo-worldbank.png'|theme }}">
                            </a>
                        </li>
                    </ul>
                <!--end of logo slider-->
                </div>
            </div>
            <!--end of row-->
        </div>
    <!--end of container-->
    </div>
</section>